body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}



.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    text-transform: uppercase; 
    color: #4d5ae5;
}


.nav-span {
    color: #2e2f42; 
}


.nav-list .nav-item {
    font-weight: 500; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #2e2f42; 
    text-decoration: none;
}


.nav-list .nav-item:hover,
.nav-list .nav-item:focus {
    color: #404bbf; 
}


.address-list .address-item {
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #434455;
    text-decoration: none;
}


.address-list .address-item:hover,
.address-list .address-item:focus {
    color: #404bbf; 
}


.address-item:hover,
.address-item:focus {
    color: #404bbf; 
}

.contact-address {
    font-style: normal; 
}

.first-section {
    background-color: #2e2f42;
}

.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.main-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}


.second-section .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.item-paragraph {
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #434455; 
}

.third-section {
   background-color: #F4F4FD;
}


.team-member {
    background-color: #FFFFFF; 
    margin-bottom: 15px; 
}

.third-section .section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-section .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-item .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.site-footer {
    background-color: #2e2f42; 
    text-align: center;
    
}


.footer-logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 18px; 
    line-height: 1.17; 
    letter-spacing: 0.03em; 
    text-transform: uppercase; 
    color: #4d5ae5; 
}


.footer-span {
    color: #f4f4fd; 
}


.footer-text {
    line-height: 1.5; 
    color: #F4F4FD; 
    letter-spacing: 0.02em; 
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
